<div class="jumbotron">
  <h1>{{title}}</h1>
</div>

<div class="form-inline">

    <a href="#/contato" class="btn btn-primary">Novo Contato</a>

    <div class="form-group">
      <span class="label label-default" for="">Nome:</span>
      <input class="form-control" type="text" name="name" value="" placeholder="Nome Completo" ng-model="contato.nome">
    </div>
</div>

<div class="alert alert-success" ng-if="message.text">
  {{message.text}}
</div>

<div class="alert alert-danger" ng-if="contatos.length === 0">
  Você não tem nenhum contato :(
</div>

<p class="text-info" ng-show="contatos.length > 0">Total de Contatos: {{contatos.length}}</p>

<table class="table table-striped table-responsive">
  <tr>
    <th>Nome</th>
    <th>Ações</th>
  </tr>
  <tbody>
    <tr ng-repeat="contato in contatos">
      <td><a href="#/contato/{{contato._id}}">{{contato.nome}}</a></td>
      <td><a href="#/contato/{{contato._id}}">{{contato.email}}</a></td>
      <td>
      <button ng-click="remover(contato)" class="btn btn-warning" type="button" name="button">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
