<div class="alert" ng-class="message-class" ng-if="message">
  {{message.text}}
</div>

<form class="form-group" ng-submit="salvar(contato)">

  <label for="">Contato</label>

  <input ng-model="contato.nome" class="form-control" type="text" placeholder="Nome" value="">

  <div class="input-group">
    <span class="input-group">@</span>
    <input ng-model="contato.email" class="form-control" type="text" placeholder="Email" value="">
  </div>

  <input type="submit" class="btn btn-primary" value="Enviar">
  <a class="btn btn-default" href="#/contatos">Voltar</a>
</form>
